body {
    background-color: azure;
}
/* Style for screens larger than 1200px */
@media (min-width: 1200px) {
    body {
        margin: 0 10%;
        padding: 20px;
    }
}

/* Style for screens between 768px and 1199px */
@media (min-width: 768px) and (max-width: 1199px) {
    body {
        margin: 0 5%;
        padding: 15px;
    }
}

/* Style for screens smaller than 768px */
@media (max-width: 767px) {
    body {
        margin: 0;
        padding: 10px;
    }
}
.intro {
    background-color: orangered;
    margin-top: 20px;
    line-height: 20px;
    border: 1px dotted orange;
    padding: 10px;
}
.skills {
    background-color: lightskyblue;
}
.skills ul {
    color: blue;
    list-style-type: none;
    
}
.skills ul li {
    margin: 5px;
    padding: 5px;
}
.contactme {
    background-color: aquamarine;
    margin-top: 20px;
    border: 1px solid antiquewhite;
    padding: 10px;
}
.contactme p {
    color: blue;
    font-size: 20px;
}
.contactme ul a {
    text-decoration: none;
    color: blue;
}
